/* CARD EDITOR CSS */
.main-card-editor {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(180, 190, 174));
  color: aliceblue;
  display: flex;
  padding: 20px;
}

.card-editor-title {
  background-color: #000;
  color: aliceblue;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  text-align: center;

}

/*  CARDFORM CSS */
.card-form {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(180, 190, 174));
  width: 50%;
}


/*  CARDPREVIEW CSS */
.card {
  background: black;
  border-radius: 7px;
  color: black;
  height: calc(width * 1.5);
  margin: 1% auto;
  padding: 3px 0;
  width: 33vw;
}

.card-board {
  background: rgb(170, 170, 170);
  height: 100%;
  margin: 0.3rem auto;
  padding: 0.5rem 0;
  position: relative;
  width: 96%;
}

.title {
  background: rgb(255, 255, 255);
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0 0 0 3%;
  width: 97%;
}

.cost {
  background: rgb(204, 204, 204);
  border-radius: 50%;
  float: right;
  height: 1.3rem;
  line-height: 1.3rem;
  margin: 0.1rem 0.3rem 0 0;
  text-align: center;
  width: 1.3rem;
}


.image {
  background: rgb(51, 51, 51);
  height: 14rem;
  margin: 0 auto;
  width: 95%;
}

.image > img {
  height: 100%;
  width: 100%;
}

.type {
  background: rgb(255, 255, 255);
  border-radius: 0.4rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  width: 98%;
}

.symbol {
  float: right;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  width: 2rem;

}


.desc {
  background: rgb(204, 204, 204);
  font-size: 0.9rem;
  height: 40%;
  margin: 0 auto;
  padding: 0.7rem 0.5rem;
  width: 94%;
}

.footer {
  display: flex;
  padding: 0.5rem 0.7rem 0;
}

